<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
      <form action="title.ejs"GET" style="display:inline;">
      <button type="submit">Home</button>
  </form>
  <h1>Login</h1>

  <% if (error) { %>
    <p style="color:rgb(117, 92, 210)"><%= error %></p>
  <% } %>
  <!-- hehe my fav colour, well one of em :3 -->
  <form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required /><br/>

    <label>Password:</label>
    <input type="password" name="password" required /><br/>

    <button type="submit">Login</button>
  </form>
</body>
</html>