<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>voidDrill Title</title>
</head>
<body>
    <header>
        <div id="interactHeader">
        <p><a href="/login">login</a>   ||   <a href="/register">register</a></p>
        </div>
        <!-- to be replaced with logo later -->
        <h1>voiDrill</h1>
    </header>
    <nav>

    </nav>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>